@page "/prijava"
@using Microsoft.AspNetCore.WebUtilities
@inject IAuthService AuthService
@inject ILocalStorageService LokalnoSkladiste
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Prijava</PageTitle>

<h3>Prijava</h3>

<EditForm Model = "korisnik" OnValidSubmit="UpravljajPrijavom">

</EditForm>

@code {
    private PrijavaKorisnika korisnik = new PrijavaKorisnika();

    private string errorPoruka = string.Empty;

    private string povratniUrl = string.Empty;

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url))
        {
            povratniUrl = url;
        }
    }

    private async Task UpravljajPrijavom()
    {
        var rezultat = await AuthService.Prijava(korisnik);
        if(rezultat.Uspesno)
        {
            errorPoruka = string.Empty;

            await LokalnoSkladiste.SetItemAsync("authToken", rezultat.Podaci);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo(povratniUrl);
        }
    }
}