@page "/profil"
@inject IAuthService AuthService
@attribute [Authorize]

<AuthorizeView>
    <h3>Ulogovali ste se kao <i>@context.User.Identity.Name</i>.</h3>
</AuthorizeView>

<h5>Promena Lozinke</h5>

<EditForm Model="zahtev" OnValidSubmit="PromeniLozinku">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3">
        <label for="lozinka">Nova Lozinka</label>
        <InputText id="lozinka" @bind-Value="zahtev.Lozinka" class="form-control" type="password" />
        <ValidationMessage For="@(() => zahtev.Lozinka)" />
    </div>
    <div class="mb-3">
        <label for="potvrdaLozinke">Potvrdi novu lozinku</label>
        <InputText id="potvrdaLozinke" @bind-Value="zahtev.PotvrdaLozinke" class="form-control" type="password" />
        <ValidationMessage For="@(() => zahtev.PotvrdaLozinke)" />
    </div>
    <button type="submit" class="btn btn-primary">Primeni</button>
</EditForm>
@poruka

@code {
        KorisnikPromenaLozinke zahtev = new KorisnikPromenaLozinke();
        string poruka = string.Empty;

        private async Task PromeniLozinku()
        {
            var result = await AuthService.PromenaLozinke(zahtev);
            poruka = result.Poruka;
        }
}
