@inject IProizvodService ProizvodService;
@implements IDisposable

@if(ProizvodService.Proizvodi == null || ProizvodService.Proizvodi.Count == 0)
{
    <span>Učitavanje proizvoda...</span>
}
else
{
    <ul class="list-unstyled">
        @foreach (var proizvod in ProizvodService.Proizvodi)
        {
            <li class="media my-3">
                <div class="media-img-wrapper mr-2">
                    <a href="/proizvod/@proizvod.Id">
                        <img class="media-img" src="@proizvod.SlikaUrl" alt="@proizvod.Naziv" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="/proizvod/@proizvod.Id">
                        <h4 class="mb-0">@proizvod.Naziv</h4>
                    </a>
                    <p>@proizvod.Opis</p>
                    <h5 class="price">$@*proizvod.Cena*@</h5>
                </div>
            </li>
        }

    </ul>
}



@code {

    protected override void OnInitialized()
    {
        ProizvodService.PromenaKategorije += StateHasChanged; 
    }

    public void Dispose()
    {
        ProizvodService.PromenaKategorije -= StateHasChanged;
    }
}
