@inject NavigationManager NavigationManager

<button @onclick="IdiNaPocetnu" class="btn btn-outline-primary home-button">E Prodavnica</button>

@code {
    private void IdiNaPocetnu()
    {
        NavigationManager.NavigateTo(""); // preusmeravamo korisnika na index.razor
    }
}
